.book-gallery-container,
.library-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    .books, .books__container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .books__container {
      #book--no-image {
        display: flex;
        width: 13rem;
        flex-direction: column;
        padding: 0 .75rem;
      }
    }
    .books__container {
      li {
        width: auto;
        display: flex;
      }
    }
}
