.hidden {
  display: none;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}
.container, .main {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  width: 100%;
  flex-wrap: wrap;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    &:hover {
      cursor: pointer;
    }
  }
}
