.modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0, .7);
    .modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      height: 80%;
      width: 75%;
      border-radius: 1rem;
    }
    .modal__header {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 1rem 0;
      width: 100%;
      margin: auto 0;
      border-bottom: .1rem solid #ccc;
      h1 {
        margin: auto auto 1rem 2rem;
        margin-left: 2rem;
        font-size: 2rem;
      }
      .notification-modal__library--success,
      .notification-modal__library--error {
        font-size: 1.2rem;
        font-weight: bold;
        padding: .5rem;
        border: none;
        margin-bottom: 1rem;
        position: absolute;
        text-indent: 1rem;
        top: 0rem;
        width: 100%;
      }
      .notification-modal__library--success {
        color: #3E753F;
        background: #E0F0D9;
      }
      .notification-modal__library--error {
        background: #F2DEDE;
        color: #A74544;
      }
    }
    .modal__content {
      height: 90%;
      width: 90%;
      @media @tablet {
        height: 100%;
        width: auto;
      }
      .book-image__container {
        height: 90%;
        .book-image {
          height: 100%;
        }
        .modal-details {
          border-top: .25rem solid #ccc;
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
        }
        .basic-details {
          display: flex;
        }
      }
    }
}

// Modal Icons:

.modal__button--add, .modal__button--delete {
  margin: auto 2rem 1rem auto;
  font-size: 2rem;
}
.modal__button--close {
  position: absolute;
  top: 2em;
  left: 87em;
  i.fa.fa-times {
      color: white;
      font-size: 2.2rem;
  }
}
.modal__button--right, .modal__button--left {
  position: absolute;
  top: 20rem;
  font-size: 5rem;
  color: white;
  Z-INDEX: 9999999;
  &:hover {
    cursor: pointer;
  }
}
.modal__button--right {
  right: 1rem;
}
.modal__button--left {
  left: 1rem;
}
